/* .ghost {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 10;
    position: absolute;
    background: url(../thumb005.png) no-repeat center center / contain;
} */
.logo-crux {
    background: url(../images/Logo.png) no-repeat center top / 100% auto;
    width: 14vw;
    height: 12.3vh;
    left: 0;
    right: 3px;
    top: 1.8vh;
    margin-left: auto;
    margin-right: auto;
}
.bg {
    width: 100vw;
    height: 100vh;
    background: url(../images/background005.png) no-repeat center center / cover;
}

.note-content {
    width: 100vw;
    height: 75vh;
    top: 11vh;
    left:1vh;
}

.note-title {
    color: #1e6c46;
    font-family: 'Avenir', sans-serif;
    font-weight: 700;
    font-size: 2.74vw;
    letter-spacing: -0.05vw;
    top: 5.21vh;
    left: 33.21vw;
    display: block;
}

.note-list {
    top: 14.33vh;
    left: 33.21vw;
    width: 61.53vw;
}

.note-item {
    font-family: 'clear-sans-regular', sans-serif;
    font-weight: 300;
    font-size: 1.47vw;
    color: #333333;
    line-height: 1.68;
    display: block;
    position: relative;
    margin-bottom: 1.44vh;
}